<app-system-ready>
  @if(nonNativeWarning()){
  @if(isVendorBuild){
  <div>
    <mat-icon class="primary-color" style="vertical-align: middle;">info</mat-icon>
    <span i18n>A streamed headset is connected. These tabs configure tethered native headsets and the custom shader, which do not apply to it. Galaxy XR settings are on the <a routerLink="/stream-frame">Galaxy XR</a> tab.</span>
  </div>
  }@else{
  <div>
    <mat-icon class="warn-color" style="vertical-align: middle;">warning</mat-icon>
    <span i18n>A headset is currently running with a non-native driver. Many settings will not work.</span>
  </div>
  }
  }
  @if(webView2Outdated()){
  <div style="color:red">
    ⚠️
    <span i18n>The WebView2 version is too old. Please download the Evergreen Bootstrapper and run it as administrator. </span>
    <a href="https://developer.microsoft.com/en-us/microsoft-edge/webview2/?form=MA13LH#download" target="_blank" rel="noopener noreferrer">https://developer.microsoft.com/en-us/microsoft-edge/webview2/?form=MA13LH#download</a>
    <div><span i18n>Current version: </span><span>{{ webView2Version() }}</span></div>
  </div>
  }
  @if(appUpdateService.updateInfo()?.installAvailable){
  <div>
    <mat-icon class="warn-color" style="vertical-align: middle;">warning</mat-icon>
    <span i18n>You still need to install the driver into SteamVR on the About page.</span>
  </div>
  }
  @if(driverEnablePrompt()){
  <div class="dirver-warning-main">
    <mat-icon class="warn-color" style="vertical-align: middle;">warning</mat-icon>
    @if(neutralDriverEnabled()){
    <span i18n>The CustomHeadsetOpenVR driver is enabled, which locks this driver out</span>
    <button mat-stroked-button i18n (click)="enableDriver()">Switch to this driver</button>
    } @else {
    <span i18n>Custom Headset's driver is disabled</span>
    <button mat-stroked-button i18n (click)="enableDriver()">Enable</button>
    }
    @if(driverBlocked()){
    <button mat-stroked-button i18n (click)="unblockAllDrivers()">Unblock All</button>
    }
  </div>
  }
  <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="onTabChange($event)">
    @for (tab of orderedTabs; track tab.headsetType) {
    <mat-tab label="MeganeX 8K" i18n-label *ngIf="tab.type === 'MeganeX8K'">
      <ng-template matTabContent>
        @if(currentHeadsetType() && currentHeadsetType() !== HeadsetType.MeganeX8K){
          <div class="field"><mat-icon class="warn-color" style="vertical-align: middle;">warning</mat-icon><span i18n>This headset is not currently being run by this driver. None of these settings will have an effect. Enable this driver and restart SteamVR with the headset connected to change this.</span></div>
        }
        <app-meganex-x8-k (navigateToGeneralTab)="switchToGeneralTab()" />
      </ng-template>
    </mat-tab>
    <mat-tab label="Dream Air" i18n-label *ngIf="tab.type === 'DreamAir'">
      <ng-template matTabContent>
        @if(currentHeadsetType() && currentHeadsetType() !== HeadsetType.DreamAir){
          <div class="field"><mat-icon class="warn-color" style="vertical-align: middle;">warning</mat-icon><span i18n>This headset is not currently being run by this driver. None of these settings will have an effect. Enable this driver and restart SteamVR with the headset connected to change this.</span></div>
        }
        <app-dream-air (navigateToGeneralTab)="switchToGeneralTab()" />
      </ng-template>
    </mat-tab>
    <mat-tab label="General" i18n-label *ngIf="tab.type === 'General'">
      <ng-template matTabContent>
        <app-general
          driverName=""
          settingField="" />
      </ng-template>
    </mat-tab>
    }
  </mat-tab-group>
</app-system-ready>
