<div class="field">
    <div class="section-title">
        Custom Headset Driver &mdash; Galaxy XR
    </div>
</div>
<div class="field">
    <div class="note">
        A standalone SteamVR vendor driver for the Samsung Galaxy XR over Steam Link. It gives the headset and its controllers their native identity, models and bindings in SteamVR, corrects controller tracking and throw velocity, and adds the ability to processes the streamed image (color, sharpening, distortion correction) before it is encoded.
    </div>
</div>
<div class="field">
    <div class="title" i18n>App Version</div>
    <div class="control">
        @if(aus.updateInfo();as update){
        <span>{{update.currentVersion}}</span>
        @if(update.updateAvailable){
        <a (click)="openExternal($event, update.url)" [href]="update.url">
            <span i18n>New version available</span><mat-icon class="warn-color" style="vertical-align: middle;">priority_high</mat-icon>
        </a>
        }@else{
        @if(!checking() && update.fetchSuccess){
        <span i18n>(Up to date)</span>
        }
        <button mat-icon-button [disabled]="checking()" (click)="checkUpdate()">
            @if(checking()){
            <mat-icon class="primary-color">more_horiz</mat-icon>
            }@else {
            <mat-icon class="primary-color">refresh</mat-icon>
            }
        </button>
        }
        }
    </div>
</div>
<div class="field">
    <div class="title" i18n>Installed Driver Version</div>
    <div class="control">
        @if(sds.driverInstalled();as version){
        <span>{{version}}</span>
        <span>&nbsp;&nbsp;</span>
        @if(aus.updateInfo();as updateInfo){
        <button mat-stroked-button (click)="uninstallDriver()" [disabled]="sds.installingDriver()">
            <span i18n>Uninstall Driver</span>
        </button>
        @if(updateInfo.installAvailable){
        <button mat-stroked-button (click)="installDriver()" [disabled]="sds.installingDriver()">
            <span i18n>Install {{updateInfo.currentVersion}}</span>
        </button>
        <mat-icon class="warn-color">priority_high</mat-icon>
        }
        }
        }@else {
        <span i18n>Not installed</span>
        <span>&nbsp;&nbsp;</span>
        <button mat-stroked-button (click)="installDriver()" [disabled]="sds.installingDriver()">
            <span i18n>Install</span>
        </button>
        <mat-icon class="warn-color">priority_high</mat-icon>
        }
    </div>
</div>
<div class="field">
    <div class="title" i18n>Last Run Driver Version</div>
    <div class="control">
        @if(dis.values();as info){
        <span>{{info.driverVersion}}</span>
        @if(driverVersionMismatch()){
        <mat-icon class="warn-color">priority_high</mat-icon>
        <span>&nbsp;&nbsp;</span>
        <button mat-stroked-button (click)="sds.launchSteamVR()">
            <span i18n>Launch SteamVR</span>
        </button>
        }
        @if(aus.updateInfo();as updateInfo){
        <span>&nbsp;&nbsp;</span>
        <button mat-stroked-button (click)="installDriver()" [disabled]="sds.installingDriver()">
            <span i18n>Re-Install Driver</span>
        </button>
        }
        }@else {
        <span i18n>Not installed</span>
        }
    </div>
</div>
<div class="field">
    
    <div class="title">
        <span i18n>Restart Compositor</span>
        <app-field-tip i18n-info info="Restarting the compositor can fix some issues and allows changing various settings like refresh rate without restarting SteamVR or the game." />
    </div>
    <div class="control">
        <span>&nbsp;&nbsp;</span>
        <button mat-stroked-button (click)="sds.restartCompositor()"><span i18n>Restart Compositor</span></button>
    </div>
</div>
<div class="field">
    <div class="section-title" i18n>Links</div>
</div>
<div class="field">
    <div class="title" i18n>Source Code and Releases</div>
    <div class="control">
        <a (click)="openExternal($event, 'https://github.com/timkhronos/CustomHeadsetOpenVrGxR')" href="https://github.com/timkhronos/CustomHeadsetOpenVrGxR" class="donation-link">
            <img src="CustomHeadsetCropped.png" alt="CustomHeadset" class="donation-logo">
            <span i18n>Github Page</span>
        </a>
        <a (click)="openExternal($event, 'https://github.com/timkhronos/CustomHeadsetOpenVrGxR/releases')" href="https://github.com/timkhronos/CustomHeadsetOpenVrGxR/releases" style="margin-left: 16px;">
            <span i18n>Releases and changelog</span>
        </a>
    </div>
</div>
<div class="field">
    <div class="title" i18n>Documentation</div>
    <div class="control">
        <a (click)="openExternal($event, 'https://github.com/timkhronos/CustomHeadsetOpenVrGxR/blob/GxR/Docs/StreamFrame.md')" href="https://github.com/timkhronos/CustomHeadsetOpenVrGxR/blob/GxR/Docs/StreamFrame.md">
            <span i18n>Setup and image processing guide</span>
        </a>
        <a (click)="openExternal($event, 'https://github.com/timkhronos/CustomHeadsetOpenVrGxR/blob/GxR/Docs/TunerUsage.md')" href="https://github.com/timkhronos/CustomHeadsetOpenVrGxR/blob/GxR/Docs/TunerUsage.md" style="margin-left: 16px;">
            <span i18n>Distortion tuner guide</span>
        </a>
    </div>
</div>
<div class="field">
    <div class="title" i18n>Report a Problem</div>
    <div class="control">
        <a (click)="openExternal($event, 'https://github.com/timkhronos/CustomHeadsetOpenVrGxR/issues')" href="https://github.com/timkhronos/CustomHeadsetOpenVrGxR/issues">
            <span i18n>Open an issue</span>
        </a>
        <div class="note">
            Attach Steam\logs\vrserver.txt. Please report here, not on the original sboys3 repository.
        </div>
    </div>
</div>
<div class="field">
    <div class="title" i18n>Based On</div>
    <div class="control">
        <a (click)="openExternal($event, 'https://github.com/sboys3/CustomHeadsetOpenVR')" href="https://github.com/sboys3/CustomHeadsetOpenVR">
            <span>CustomHeadsetOpenVR by sboys3</span>
        </a>
        <div class="note">
            This driver is a fork of CustomHeadsetOpenVR. The installer, settings system and the MeganeX / Dream Air support come from the original project.
        </div>
    </div>
</div>
<div class="field">
    <div class="title" i18n>
        Donation Links
    </div>
    <div class="control">
        <a (click)="openExternal($event, 'https://patreon.com/SBoys3')" href="https://patreon.com/SBoys3" class="donation-link">
            <img src="patreon-logo.svg" alt="Patreon" class="donation-logo">
            <span i18n>Patreon</span>
        </a>
        <a (click)="openExternal($event, 'https://ko-fi.com/sboys3')" href="https://ko-fi.com/sboys3" class="donation-link">
            <img src="ko-fi-logo.svg" alt="Ko-fi" class="donation-logo">
            <span i18n>Ko-fi</span>
        </a>
        <div class="note">
            Consider supporting sboys3, the author of the original project this fork is built on.
        </div>
    </div>
</div>
